#thats-me {
  font-weight: normal;
}

.work-about {
  display: flex;
  gap: 10rem;
}
/* 
#job-title {
  font-size: 16px;
} */

#header {
  display: flex;
}


.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0rem;
}

.nav ul {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: black;
}

.dot {
  height: 32px;
  width: 32px;
  background-color: #FFE383;
  border-radius: 50%;
  display: inline-block;
  margin-right: 16px;
  align-self: center;
}


.bold {
  font-weight: 400;
}

.purple {
  color: #877BE7;
}

.turquoise {
  color: #7DD5C5;
}

.yellow {
  color: #FFD772;
}

.active {
  font-weight: normal;
}

.nav-item .active::after {
  content: "";
  position: absolute;
  width: 30%; 
  height: 2px;
  left: 10px; 
  bottom: 1px;   
  background-color: black;
}

.nav-item {
  padding: 10px;
  position: relative;
}

.nav-item a:hover {
  font-weight: normal;
}

.nav-item:hover::after {
  width: 30%;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 0; 
  height: 2px;
  left: 10px; 
  bottom: 1px;   
  background-color: black;
  transition: 0.3s ease-in-out; 
}

.nav-right {
  float: right;
}

 /* .content {
  min-height: 80%;
} */

p {
  font-size: 20px;
}

h1 {
  margin: 0rem;
}

h4 {
  font-weight: 400;
  margin: 48px 0px 0px 0px;
  font-size: 20px;
}

body {
  margin: 4rem 6rem 0px 6rem;
  font-family: europa,sans-serif;
  font-weight: 300;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  margin-top: 8rem;
}

.uppercase {
  text-transform: uppercase;
}

.company {
  /* color: grey; */
  font-size: 18px;
  font-weight: bold;
}

.title {
  margin-top: 8px;
  font-size: 24px;
  color: grey;
  font-weight: 400;
}

.blue {
  color: #90B7F4;
}

/* .flex {
display: inline-flex;


} */

#quote {
text-align: center;
margin: 88px 0px 48px 0px;
}

#quote-phrase {
  font-family: 'Droid Serif';
font-weight: normal;
font-size: 22px;
}

#quote-author {
  padding: 10px;
}

#work-info {
  width: 100%;
  
}

#introduction {
width: 50%;
}

a {
color: black;
}

.services {
  width: 25%;
  font-size: 20px;
}

.services ul {
  list-style: none;
  padding-left: 0px;
}

.services ul li {
  padding-bottom: 8px;
}

.project-item {
  /* background: #F5F4F4; */
  transition: var(--transition);
  box-shadow: 1px 1px 10px #DDDDDD;
  height: 30rem;

  
}

.project-item-banner {
  text-decoration: none;
  width: 100%;
  height: 30%;

  
}

.project-item-text {
  padding: 1.3rem 0% 0% 0%; 
  width: 80%;
  margin: 0% auto;
}

.project-link {
  text-decoration: none;
}

.project-image {
  width: 100%;
  height: 70%;
  object-fit: cover;

}




#about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 8rem;

}

/* .about-item {


  
} */

#work-hello {
  font-weight: normal;
  font-size: 80px;
}

#about-title {
  font-weight: normal;
  font-size: 36px;
}

#work-statement {
  font-weight: lighter;
  margin: 0px 0px 200px 0px;
  font-size: 64px;
}

#about-text {
  font-size: 18px;
}

#portrait {
  width: 90%;
  display: block;
  margin: auto;
}

#footer {
  position: relative;
  bottom: 0;
  padding: 104px 0px 32px 0px;
}

#footer div {
  justify-content: center;
}

.menu {
  display: none;
}

.socials {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.socials a {
  padding: 6px;
}

.footer-flex {
  display: flex;
  text-align: center;
  align-items: center;
}

.center {
  text-align: center;
  align-self: center;
}



@media screen and (max-width: 1024px) {

  body {
    margin: 4rem 4rem 0px 4rem;
  }

  .content {
    margin-top: 6rem;
  }

#project-area {
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

#about {
  grid-template-columns: 1fr;
  gap: 1rem;
}

.work-about {
  flex-direction: column;
  gap: 1.5rem;
}

#introduction {
  width: 100%;
}

.services {
  width: 100%;
}

}



@media screen and (max-width: 768px) {
  
  body {
    margin: 48px 2rem 0% 2rem;
  }

  .overlay {
background: white;
position: fixed;
top: 150px;
left: 0;
width: 100%;
height: 30%;

  }

  #hamburger-visibility {
    position: absolute;
    right: 10%;
  }


  .menu {
    display: none;
    text-align: center;
  }


  .menu.expanded {
    display: block;
    
  }

  .nav-item .active::after {
    content: "";
    position: absolute;
    width: 20px; 
    height: 2px;
    left: 310px; 
    bottom: 1px;   
    background-color: black;
  }

  .nav-item::after {
    content: "";
    position: absolute;
    width: 0; 
    height: 2px;
    left: 310px; 
    bottom: 1px;   
    background-color: black;
    transition: 0.3s ease-in-out; 
  }

  .nav-item:hover::after {
    width: 20px;
  }

  .desktop {
    display: none;
  } 


  #hamburger {
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 0px;
    
  }

  #line-1 {
  content: "";
  position: relative;
  width: 25px; 
  height: 3px;
  bottom: 0px;   
  background-color: black;
  }

  #line-2 {
    content: "";
    position: relative;
    width: 20px; 
    height: 3px;
    bottom: -3px;   
    background-color: black;
    margin-left: 5px;

    }

  #line-3 {
      content: "";
      position: relative;
      width: 15px; 
      height: 2px;
      bottom: -6px;   
      background-color: black;
      margin-left: 10px;
  
      }

      

  #work-hello {
    font-size: 52px;
  }

  #work-statement {
    font-size: 36px;
    margin: 0px 0px 100px 0px;
  }


  .project-item-banner {
    height: 30%;  
  }
  
  .project-image {
    height: 70%;
  
  }

  #about {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .footer-flex {
    flex-direction: column;
  }




 
}

